@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 211, 193, 195;
}

body {
  background: rgb(var(--background));
  font-family: "Lora", serif !important;
  font-optical-sizing: auto;
}
